@font-face {
  font-family: iransans;
  src: url("assets/fonts/IRANSans(FaNum).ttf");
}
* {
  font-family: iransans !important;
  letter-spacing: 0 !important;
}
body {
  -webkit-text-size-adjust: none;
}
.v-dialog {
  border-radius: 20px !important;
}
